﻿<div class="app-sidebar">
    <div class="logo">
        <a href="index.html" class="logo-icon"><span class="logo-text">Neptune</span></a>
    </div>
    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">Menu</li>
            <li class="@ViewBag.LIndex-page">
                <a href="/Panel">
                    <i class="fa-solid fa-house"></i>
                    Anasayfa
                </a>
            </li>
            <li class="@ViewBag.LStockedProducts-page">
                <a href="/Panel/StockedProducts">
                    <i class="fa-solid fa-treasure-chest"></i>
                    Depodaki Ürünler
                </a>
            </li>
            <li class="@ViewBag.Products-page">
                <a href="/Panel/Products">
                    <i class="fa-duotone fa-coffee-bean"></i>
                    Ürünler
                </a>
            </li>
            <li class="@ViewBag.Categories-page">
                <a href="/Panel/Categories">
                    <i class="fa-solid fa-list"></i>
                    Kategoriler
                </a>
            </li>
            <li class="@ViewBag.Users-page">
                <a href="/Panel/Users">
                    <i class="fa-solid fa-user"></i>
                    Kullanıcılar
                </a>
            </li>
            <li class="@ViewBag.Units-page">
                <a href="/Panel/Units">
                    <i class="fa-solid fa-weight-hanging"></i>
                    Ağırlık Birimleri
                </a>
            </li>
        </ul>
    </div>
</div>